@font-face {
    font-family: "Butterfly";
    src: url("../fonts/butterfly/ButterflyKids-Regular.eot");
    src: url("../fonts/butterfly/ButterflyKids.woff") format("woff"),
    url("../fonts/butterfly/ButterflyKids.ttf") format("opentype"),
    url("../fonts/butterfly/ButterflyKids.svg#filename") format("svg");
}

body {
    margin: 0;
    padding: 0;
}

.data {
    background-color: rgba(255, 255, 6, 0.5);

    margin-top: 25px;
}
.brand-row{
    max-width:1336px !important;
}

.logo-img{
    height: 70px;
}
.brand-text {
    color: grey !important;
    font-family: 'Butterfly';
    font-size:40px;
    display:inline;
    font-weight: bold;
}

.btn-topmenu{
    margin-bottom:10px;
}

.shopping{
    height: 17px;
    width: 21px;
    margin-top: -4px;
}

/*Badges*/
.notificationBadge {
   position:relative;
}
.notificationBadge[data-badge]:after {
   content:attr(data-badge);
   position:absolute;
   top:-10px;
   right:-10px;
   font-size:.7em;
   background:green;
   color:white;
   width:18px;height:18px;
   text-align:center;
   line-height:18px;
   border-radius:50%;
   box-shadow:0 0 1px #333;
   z-index:100;
}