@font-face {
  font-family: 'ButterflyKids-Regular';
  src: url('ButterflyKids-Regular.eot');
  src: url('ButterflyKids-Regular.woff2') format('woff2'),
       url('ButterflyKids-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ButterflyKids';
  src: url('ButterflyKids.woff') format('woff'),
       url('ButterflyKids.ttf') format('truetype'),
       url('ButterflyKids.svg#ButterflyKids') format('svg');
  font-weight: normal;
  font-style: normal;
}

