@font-face {
    font-family: "Butterfly";
    src: url("../fonts/butterfly/ButterflyKids-Regular.eot");
    src: url("../fonts/butterfly/ButterflyKids.woff") format("woff"),
        url("../fonts/butterfly/ButterflyKids.ttf") format("opentype"),
        url("../fonts/butterfly/ButterflyKids.svg#filename") format("svg");
}

/*
        *{
        padding: 0 !important;
        margin: 0 !important;
        border: 0 !important;
        }
        */
html{
    height:100%;
}


body {
    position: relative;
    margin: 0;
    min-height: 100%;
  }

  footer{
    position: absolute;
    right: 0;
    bottom: -185px;
    left: 0;    
    height: 175px;
  }
.main-container {
    margin-top: 25px;
}

.login-form-1{
    padding: 0;
}

.inputCant {
    border-radius: 0.25rem 0 0 0.25rem;
    border-right: 0px;
}

.card-img-top {
    height: 125px !important;
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

body {
    margin: 0;
    padding: 0;
}
nav{
    background-color:#FFFF94;
}

.logo-img {
    height: 70px;
}

.brand-text {
    color: grey !important;
    font-family: 'Butterfly';
    font-size: 40px;
    display: inline;
    font-weight: bold;
}

.btnNav {
    height: 38px;
}

.btn-topmenu {
    margin-top: 20px;
}

.btn-topmenu {
    margin-bottom: 10px;
}

.shopping {
    height: 17px;
    width: 21px;
    margin-top: -4px;
}

/*Badges*/
.notificationBadge {
    position: relative;
}

.notificationBadge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: green;
    color: white;
    width: 18px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
    z-index: 100;
}


.footer-top {
    color: rgb(211, 208, 208);
    background-color: rgb(71, 79, 87);
}

.error{
    border: 1px solid red;
    color: red;
}

.footer-top ul {
    list-style-type: none;
}

.footer-top li {
    color: rgb(211, 208, 208);
}

.footer-bot {
    background-color: rgb(131, 143, 158);
}

.footer-bot p {
    color: rgb(211, 208, 208);
}

#loginform{
    margin-top: -60px;
}

footer>.row {
    padding: 0 !important;
    margin: 0 !important;
}

/**BreadCrumb*/
.breadcrumb {
    padding: 0px;
    background: #D4D4D4;
    list-style: none;
    overflow: hidden;
    margin-top: 20px;
}

.breadcrumb>li+li:before {
    padding: 0;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li.active div {
    background: brown;
    /* fallback color */
    background: #ffc107;
}

.breadcrumb li.completed div {
    background: brown;
    /* fallback color */
    background: hsla(153, 57%, 51%, 1);
}

.breadcrumb li.active div:after {
    border-left: 30px solid #ffc107;
}

.breadcrumb li.completed div:after {
    border-left: 30px solid hsla(153, 57%, 51%, 1);
}

.breadcrumb li div {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 45px;
    position: relative;
    display: block;
    float: left;
}

.breadcrumb li div:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(0, 0%, 83%, 1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

.breadcrumb li div:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

.breadcrumb li:first-child div {
    padding-left: 15px;
}



.productbox {
    background-color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
}

.producttitle,
.componentes-box {
    font-weight: bold;
    padding: 5px 0 5px 0;
}

.cardSpacer,
.componentes-box {
    flex-grow: 1;
}

.productprice {
    border-top: 1px solid #dadada;
    padding-top: 5px;
}

.pricetext {
    font-weight: bold;
    font-size: 1.4em;
}

.numPersonas {
    width: 25px;
}

.product-img {
    max-height: 178px;
    min-height: 178px;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo{
    position: relative;
    margin-left: -41.5%;
}
.login-logo img{
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: white;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1{
    padding: 5%;
    background:#FFFF94;
    box-shadow: 0 5px 8px 0 rgba(255, 255, 6, 0.5), 0 9px 26px 0 rgba(255, 255, 6, 0.5);
}
.login-form-1 h3{
    text-align: center;
    margin-bottom:12%;
    color:black;
}
.login-form-2{
    padding: 9% 9% 9% 9%;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    margin-bottom:12%;
    color: black;
}
.btnSubmit{
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnSubmit2{
    font-weight: 600;
    width: 50%;
    color: white;
    background-color: black;
    border: none;
    border-radius: 1.5rem;
    padding:2%;
}
.btnForgetPwd{
    color: black;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover{
    text-decoration:none;
    color:#fff;
}